body{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;  
}

.background {
    background: rgb(245, 208, 165, .8);
    padding: 20px 0px 20px 0px;

}

h1{
    font-family: 'Irish Grover', cursive;
    color: rgb(20,52,28);
    font-size: 65px;
}

.page-text {
    font-size: 25px;
    margin-bottom: 10px;
}

.answerBtn {
    margin-bottom: 10px;
    width: 80%;
    font-size: 20px;
    background: none;
    border: none;
}

.character {
    margin-top: 20px;
    margin-bottom: 10px;
}

